.content_element {
  color: #fff;
  padding: 21px;
  box-sizing: border-box;
  position: relative;
  > img {
    width: 100%;
  }
  .content_description {
    position: absolute;
    right:21px;
    bottom: 24px;
    background: #00000080;
    font-size: 12px;
  }
}
