@use "../../../style/variables" as variables;

.style_gallery {
    position: fixed;
    bottom: 0;
    height: variables.$style-gallery-height;
    width: 100%;
    border:1px solid #fff;
    color: #fff;
}