$header-height: 60px;
$style-gallery-height: 160px;
$middle-elements-height: calc(100% - $header-height);
$new-render-width: 500px;
$content-wrapper-width: calc(100% - $new-render-width);

:export {
  headerHeight: 60px;
  styleGalleryHeight: 160px;
  middleElementsHeight: calc(100% - $header-height);
  newRenderWidth: 500px;
  contentWrapperWidth: calc(100% - $new-render-width);
}
