@use '../../styles/variables' as variables;

// .new_render_container {
//   // height: variables.$middle-elements-height;
//   // width: variables.$new-render-width;
//   box-sizing: border-box;
//   // top: 50%;
//   // left: 50%;
//   // transform: translate(-50%, -50%);
// }

.new_render_content {
  // overflow-y: scroll;
  padding-left: 21px;
  padding-right: 21px;
  height: calc(100% - 82px);
}

.new_render_button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 21px;
}

.sub_info {
  font-size: 12px;
  display: block;
  margin-top: 7px;
}
