@use "../../../style/variables" as variables;
.content_wrapper {
  height: variables.$middle-elements-height;
  width: variables.$content-wrapper-width;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  padding: 21px;
  padding-right: 0;
  box-sizing: border-box;
  > h3 {
    margin: 0;
  }
  .interior_content {
    height: 100%;
  }
}
